<section id="hero"><app-hero></app-hero></section>
<section id="highlights"><app-highlights></app-highlights></section>
<section id="ideal-for"><app-ideal-for></app-ideal-for></section>
<section id="gallery"><app-gallery></app-gallery></section>
<section id="connectivity"><app-connectivity></app-connectivity></section>
<section id="location"><app-location></app-location></section>
<section id="story"><app-saga-story></app-saga-story></section>
<section id="contact"><app-contact></app-contact></section>
